<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd"><html lang="en">
<head th:replace="~{fragmentos :: head('Modelos de Veículos')}"></head>

<body>
    <header th:replace="~{fragmentos :: header('Lista de Modelo Veículo', 'modeloVeiculo')}"></header>
    <div class="container">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col">ID</th>
                        <th class="col">Nome do modelo</th>
                        <th class="col">Valor de Referência</th>
                        <th class="col">Turbo</th>
                        <th class="col">Automático</th>
                        <th class="col"></th>
                        <th class="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="modeloVeiculo : ${modelosVeiculos}">
                        <th class="col-1" scope="row" th:text="${modeloVeiculo.id}">ID</th>
                        <td class="col-4" th:text="${modeloVeiculo.nome}">Nome do modelo</td>
                        <td class="col-2" th:text="${modeloVeiculo.valorReferencia}">Valor de Referência</td>
                        <td class="col-2" th:text="${modeloVeiculo.turbo} ? 'Sim' : 'Não'">Turbo</td>
                        <td class="col-2" th:text="${modeloVeiculo.automatico} ? 'Sim' : 'Não'">Automático</td>
                        <td class="col-1"><td class="col-1"><a th:href="@{/modeloVeiculo/editar/{id}(id=${modeloVeiculo.id})}">Editar</a></td></td>
                        <td class="col-1"><a href="#">Deletar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <a href="/modeloVeiculo/adicionar">Novo Modelo Veículo</a>
        </div>
    </div>
</body>
</html>