<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Patrocars')}"></head>

<body>
<header th:replace="~{fragmentos :: header('Patrocars', 'home')}"></header>

<main>
    <div class="container mt-4">
        <div class="list-group">
            <h1>Hii!!</h1>
        </div>
    </div>
</main>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script crossorigin="anonymous" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>